<!DOCTYPE html>
<html>
<head>
    <title>Tax Problem Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Tax Problem Predictor</h1>
    <form method="POST">
        <label for="entreprise_id">Entreprise ID:</label>
        <input type="number" name="entreprise_id" required><br>
        
        <label for="industrie">Industrie:</label>
        <select name="industrie" required>
            <option value="Santé">Santé</option>
            <option value="Services">Services</option>
            <option value="Commerce de détail">Commerce de détail</option>
            <option value="Construction">Construction</option>
            <option value="Fabrication">Fabrication</option>
            <option value="Technologie">Technologie</option>
        </select><br>
        
        <label for="chiffre_affaires">Chiffre d'affaires:</label>
        <input type="number" name="chiffre_affaires" required><br>
        
        <label for="dépenses">Dépenses:</label>
        <input type="number" name="dépenses" required><br>
        
        <label for="employés">Employés:</label>
        <input type="number" name="employés" required><br>
        
        <label for="catégorie_d'actifs">Catégorie d'actifs:</label>
        <select name="catégorie_d'actifs" required>
            <option value="Amortissable">Amortissable</option>
            <option value="Non-Amortissable">Non-Amortissable</option>
            <option value="Subvention d'Investissement">Subvention d'Investissement</option>
            <option value="Subvention d'Exploitation">Subvention d'Exploitation</option>
            <option value="Subvention de Solde">Subvention de Solde</option>
            <option value="Fonds commercial créé">Fonds commercial créé</option>
        </select><br>
        
        <label for="valeur_d'actifs">Valeur d'actifs:</label>
        <input type="number" name="valeur_d'actifs" required><br>
        
        <label for="âge_d'actifs">Âge d'actifs:</label>
        <input type="number" name="âge_d'actifs" required><br>
        
        <label for="imposition_supplémentaire_évaluée">Imposition supplémentaire évaluée:</label>
        <input type="number" name="imposition_supplémentaire_évaluée" required><br>
        
        <label for="créances_irrécouvrables">Créances irrécouvrables:</label>
        <input type="number" name="créances_irrécouvrables" required><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>
